@use '../helpers' as *;
@use '../variables' as *;

.active-tasks {
  &__empty {
    text-align: center;
    color: var(--color-gray-40);
    font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
    padding: 2rem 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
