﻿@use 'helpers' as *;

html {
  min-height: 100%;
  background: var(--color-background);
  overflow-x: hidden;

  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-gray-40);
  background: var(--color-background);
  overflow-x: hidden;
  padding-inline: fluid(32, 16); // внешний зазор от краев окна
}

:focus-visible {
  outline: 2px solid var(--color-dark-50);
  outline-offset: 2px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

main {
  flex-grow: 1;
  width: 100%;
}

section {
  padding-top: #{fluid(75, 55)};
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-accent);
  font-weight: 300;
  color: var(--color-dark-50);
  font-size: #{fluid(20, 16)};
}
