@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding: 0;
}

.icon {
  inline-size: fluid(34, 24);
  block-size: fluid(34, 24);
  flex-shrink: 0;
  object-fit: contain;
}
