@use 'helpers' as *;

$shadow-10: 6px 6px 15px 0 #d6d9e8, -6px -6px 15px 0 #fff;
$shadow-20: inset 1px 1px 4px 0 #d6d9e8, inset -1px -1px 4px 0 #fff;

:root {
  --color-light-10: #ECF0F3;
  --color-light-20: #D6D9E8;

  --color-gray-30: #B5BFC6;
  --color-gray-40: #6E7F8D;

  --color-dark-50: #1C2039;

  --color-background: linear-gradient(
  180deg,
  var(--color-light-10) 0%,
  var(--color-light-20) 100%
);

  --border-radius: #{fluid(25, 15)};

  --shadow-10: #{$shadow-10};
  --shadow-20: #{$shadow-20};

  --font-family-base: 'Open Sans', sans-serif;
  --font-family-accent: 'Montserrat', sans-serif;

  --container-width: #{rem(1000)};
  --container-padding-x: #{rem(24)};
  --container-padding-y: #{rem(20)};

  --transition-duration: 0.2s;

  @include from-laptop {
    --container-width: #{rem(1280)};
  }
}
