@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';
@use 'blocks/header';
@use 'blocks/language-switcher';
@use 'blocks/pickers';
@use 'blocks/tasks';
@use 'blocks/task-form';
@use 'blocks/section-title';
@use 'blocks/active-tasks';
@use 'blocks/tasks-view';
@use 'blocks/task-card';
